:root {
    --primary-font: 'Heebo', sans-serif;
    --secondary-font: 'Source Sans Pro', sans-serif;
    --primary-color: #4338CA;
    --secondary-color: #4ADE80;
    --gradient-color: linear-gradient(to bottom right, #4338CA, #6366F1);
    --text-color: #131f33;
    --text-white-color: #d3d1db;

    /* dark mode */
    --dark-mode-bg: #131f33;
    --dark-mode-cta: #bbd0ff;
    --dark-mode-text: #cfd2d6;
    --dark-mode-tertiary: #acb1b8;
    --dark-mode-card: #1e293c;
}
/* css reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
html {
    font-size: 16px;
    scroll-behavior: smooth;
}
body {
    overflow-x: hidden;
}
body.dark-mode {
    background-color: var(--dark-mode-bg);
}
hr {
    opacity: 0.4;
    margin: 1em 0;
}

/* main */
#main {
    padding: 3em 6em;
    position: relative;
}
/* header */
/* header nav */
.header-nav {
    margin: 0 auto;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    padding: 3em 0 1em 0;
}
.header-nav.dark-mode {
    background-color: var(--dark-mode-bg);
}
.header-nav-container {
    width: 86%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: var(--secondary-font);
    font-weight: 500;
    /* background-color: green; */
}
.header--nav-items {
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header--nav-toggle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 220px;
}
.nav-logo img:nth-child(2) {
    display: none;
}
/* language */
.langauge-switcher {
    margin-right: 2em;
    position: relative;
}
.language-item {
    display: flex;
    align-items: center;
}
.text-language {
    font-family: var(--primary-font);
    color: rgba(19, 31, 51, 0.6);
    cursor: pointer;
}
.text-language.dark-mode {
    color: var(--dark-mode-tertiary);
}
.language-item img {
    padding-right: 0.75em;
}
.language-dropdown {
    position: absolute;
    left: 0;
    top: 40px;
    background-color: #eeeeee;
    border-radius: 0.25em;
    padding: 1em;
    z-index: 10;
    visibility: hidden;
    transition: 0.1s;
    transform: translateY(-10px);
    opacity: 0.2;
}
.language-dropdown.active {
    visibility: visible;
    transform: translateY(0);
    opacity: 1;
}
/* end language */

/* darkmode */
.theme-switch-wrapper {
    display: flex;
    align-items: center;
}
.theme-switch {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;
}
.theme-switch input {
    display: none;
  }
.slider {
    background-color: rgb(172, 171, 171);
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: 0.4s;
}
.slider:before {
    background-color: var(--dark-mode-text);
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: 0.4s;
    width: 26px;
  }
  input:checked + .slider {
    background-color: var(--primary-color);
  }
  input:checked + .slider:before {
    transform: translateX(26px);
  }
  .slider.round {
    border-radius: 34px;
  }
  .slider.round:before {
    border-radius: 50%;
  }
  
  /* end darkmode */
.nav-items a{
    text-decoration: none;
    color: var(--text-color);
    opacity: 0.6;
    margin-left: 1em;
    font-weight: bold;
    font-size: 1.15rem;
    transition: ease 0.1s;
}
.nav-items a:hover {
    color: var(--primary-color);
}
.nav-items a.active {
    color: var(--primary-color);
    opacity: 1;
}
.nav-items a.dark-mode {
    color: var(--dark-mode-tertiary);
}
/* header hero */
.header {
    width: 100%;
}
.header-hero {
    width: 100%;
    background: var(--gradient-color);
    margin-top: 4.25em;
    border-radius: 1.5em;
    font-family: var(--primary-font);
    position: relative;
    overflow: hidden;
}
.header-hero.dark-mode {
    background: var(--dark-mode-card);
}
.hero-title {
    width: 35%;
    padding: 4em 5em;
}
.hero-title strong {
    font-size: 1.25em;
}
.hero-title h1 {
    font-size: 3em;
    font-weight: 700;
    line-height: 1.15em;
    color: var(--text-white-color);
    margin: 0.25em 0 1em 0;
}
.hero-title h1.dark-mode {
    color: var(--dark-mode-text);
}
.hero-title h1 span {
    color: var(--secondary-color);
}
.hero--title-hashtag {
    font-size: 1.25em;
    margin-bottom: 2em;
    color: var(--text-white-color);
    opacity: 0.6;
}
.hero--title-btn {
    text-decoration: none;
    background-color: rgba(196,196,196, 0.3);
    color: var(--text-white-color);
    padding: 0.95em 3.75em;
    border-radius: 0.5em;
    transition: 0.2s;
}
.hero--title-btn.dark-mode {
    background: var(--gradient-color);
}
.hero--title-btn.dark-mode:hover {
    background: var(--gradient-color);
    opacity: 0.8;
}
.hero--title-btn:hover {
    background-color: rgba(196,196,196, 0.6);
}
.hero-img {
    position: absolute;
    right: -140px;
    top: -25px;
}

/* about */
.about {
    height: 100%;
    margin-top: 6em;
    font-family: var(--primary-font);
}
.about-cards {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 3em;
}
.about--cards-card {
    padding: 2em;
    border-radius: 1em;
}
.card-text-color {
    color: var(--text-color);
}
.card-text-color.dark-mode {
    color: var(--dark-mode-tertiary);
}
.cards-card--blue {
    background: var(--gradient-color);
    color: var(--text-white-color);
}
.cards-card--blue.dark-mode {
    background: var(--dark-mode-card);
    color: var(--dark-mode-tertiary);
}
.cards--card-title {
    margin-top: 0.75em;
}
.card-title-blue h3 {
    font-size: 1.35em;
    font-weight: 600;
}
.card-title-blue p {
    font-family: var(--secondary-font);
    margin-top: 0.25em;
    opacity: 0.7;
    line-height: 1.25em;
    font-size: 1.15em;
}
.cards--card-title  h3 {
    font-size: 1.35em;
    font-weight: 600;
}
.cards--card-title p {
    font-family: var(--secondary-font);
    margin-top: 0.25em;
    opacity: 0.7;
    line-height: 1.25em;
    font-size: 1.15em;
}

/* services */
.services {
    margin: 10em 0;
    font-family: var(--primary-font);
}
.services h2 {
    text-align: center;
    font-size: 2em;
    color: var(--text-color);
}
.services h2.dark-mode {
    color: var(--dark-mode-text);
}
.services-content {
    margin-top: 4em;
    display: flex;
    justify-content: space-between;
}
.content-service {
    width: 40%;
}
.content-service--1, .content-service--2 {
    display: flex;
}
.content-service--2 {
    margin-top: 2em;
}
.content--icon {
    margin-right: 2em;
}
.content--title-service {
    margin-top: 0.75em;
}
.title-service-color {
    color: var(--text-color);
}
.title-service-color.dark-mode {
    color: var(--dark-mode-tertiary);
}
.content--title-service  h3 {
    font-size: 1.35em;
}
.content--title-service p {
    font-family: var(--secondary-font);
    margin-top: 0.25em;
    opacity: 0.7;
    line-height: 1.25em;
    font-size: 1.15em;
}
.services--img-content {
    width: 55%;
    min-height: 300px;
    background: url('../equipment/svg/service.svg');
    background-size: cover;
    border-radius: 1.5em;
}

/* contact */
.contact {
    margin-top: 4em;
    margin-bottom: 8em;
    font-family: var(--primary-font);
}
.contact h2 {
    text-align: center;
    font-size: 2em;
    color: var(--text-color);
}
.contact h2.dark-mode {
    color: var(--dark-mode-text);
}
.contact-content {
    display: flex;
    margin-top: 4em;
}
.contact-img {
    width: 50%;
    min-height: 200px;
    background: url('../equipment/svg/contact-2.svg');
    background-size: cover;
    background-position: left;
    margin-right: 4em;
}
.contact-info-color {
    color: var(--text-color);
}
.contact-info-color.dark-mode {
    color: var(--dark-mode-tertiary);
}
.contact-info h5 {
    margin-bottom: 16px;
    margin-top: 0.5;
    opacity: 0.4;
    font-size: 1.15em;
}
.contact--info-number {
    display: flex;
    flex-direction: column;
}
.contact--info-number strong {
    font-size: 1.35em
}
.contact--info-number a {
    text-decoration: none;
    background: var(--gradient-color);
    color: var(--text-white-color);
    padding: 0.5em 2em;
    border-radius: 0.25em;
    transition: 0.2s;
    margin-top: 1em;
}
.contact-blank-bg {
    width: 400px;
    min-height: 200px;
    background-color: #E5E5E5;
    border-radius: 1em;
    opacity: 0.1;
    position: relative;
    right: -120px;
}

/* quotes */
.quotes {
    text-align: center;
    font-family: var(--primary-font);
    padding: 6em 0;
}
.quotes h2 {
    font-size: 3em;
}

/* footer */
.footer {
    /* border-radius: 1.5em; */
    background: var(--gradient-color);
    padding: 2em 4em;
    font-family: var(--primary-font);
    color: var(--text-white-color);
    text-align: center;
}
.footer img {
    margin-bottom: 0.5em;
}
.footer-menu-link a {
    text-decoration: none;
    padding-left: 1em;
    color: var(--text-white-color);
    font-family: var(--secondary-font);
    opacity: 0.6;
}
/* end main */

/* ressponsive */
@media (max-width: 1093px) {
    #main {
        padding: 3em 5em;
    }
    .contact-img {
        width: 70%;
    }
}

/* 900 */
@media (max-width: 900px) {
    #main {
        padding: 3em 5em;
    }
    .nav-logo img:nth-child(2) {
        display: block;
    }
    .nav-logo img:nth-child(1) {
        display: none;
    }
    .services--img-content {
        width: 45%;
    }
    .content-service {
        width: 50%;
    }
    .contact-img {
        width: 70%;
    }
}

/* 766 */
@media (max-width: 766px) {
    #main {
        padding: 3em 4em;
    }
    .nav-items {
        display: none;
    }
    .nav-logo img:nth-child(2) {
        display: block;
    }
    .nav-logo img:nth-child(1) {
        display: none;
    }
    .nav-items {
        display: none;
    }
    .header-hero {
        width: 100%;
    }
    .hero-title {
        width: 90%;
        margin: 0 auto;
        text-align: center;
        padding: 4em 0;
    }
    .hero-img {
        display: none;
    }
    .about-cards {
        gap: 2em;
    }
    .about--cards-card {
        padding: 2em 4em;
        border-radius: 1em;
        text-align: center;
    }
    .services--img-content {
        width: 43%;
        display: none;
    }
    .content-service {
        width: 100%;
    }
    .contact-img {
        width: 900px;
    }
}

/* 438 */
@media (max-width: 500px) {
    #main {
        padding: 3em 2em;
    }
    .nav-items {
        display: none;
    }
    .nav-logo img:nth-child(1) {
        display: none;
    }
    .nav-items {
        display: none;
    }
    .nav-logo img:nth-child(1) {
        display: none;
    }
    .header-hero {
        width: 100%;
    }
    .hero-title {
        width: 90%;
        margin: 0 auto;
        text-align: center;
        padding: 4em 0;
    }
    .hero-title h1 {
        font-size: 2em;
        font-weight: 700;
    }
    .hero-img {
        display: none;
    }
    .about-cards {
        gap: 1em;
    }
    .about--cards-card {
        padding: 2em 4em;
        border-radius: 1em;
        text-align: center;
    }
    .services--img-content {
        width: 43%;
        display: none;
    }
    .content-service {
        width: 100%;
    }
    .contact-img {
        width: 900px;
        display: none;
    }
    .contact-blank-bg {
        display: none;
    }
    .contact-info {
        text-align: center;
        margin: 1em auto;
    }
    .contact-content {
        display: flex;
        margin-top: 2em;
    }
}
/* end main */
@media (max-width: 340px) {
    #main {
        padding: 3em 2em;
    }
    .nav-items {
        display: none;
    }
    .nav-logo img:nth-child(1) {
        display: none;
    }
    .nav-logo img:nth-child(1) {
        display: none;
    }
    .header-hero {
        width: 100%;
    }
    .hero-title {
        width: 90%;
        margin: 0 auto;
        text-align: center;
        padding: 4em 0;
    }
    .hero-img {
        display: none;
    }
    .about-cards {
        gap: 1em;
    }
    .about--cards-card {
        padding: 2em 4em;
        border-radius: 1em;
        text-align: center;
    }
    .services--img-content {
        width: 43%;
        display: none;
    }
    .content-service {
        width: 100%;
    }
    .contact-img {
        width: 900px;
        display: none;
    }
    .contact-blank-bg {
        display: none;
    }
    .contact-info {
        text-align: center;
        margin: 1em auto;
    }
    .contact-content {
        display: flex;
        margin-top: 2em;
    }
}