:root {
    --primary-font: 'Heebo', sans-serif;
    --secondary-font: 'Source Sans Pro', sans-serif;
    --primary-color: #4338CA;
    --secondary-color: #4ADE80;
    --gradient-color: linear-gradient(to bottom right, #4338CA, #6366F1);
    --text-color: #1B1A31;
    --text-white-color: #f8f9fa;
}
/* css reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
html {
    font-size: 16px;   
}
body {
    overflow-x: hidden;
}
hr {
    opacity: 0.4;
    margin: 1em 0;
}

/* main */
#main {
    padding: 3em 6em;
}
/* header */
/* header nav */
.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: var(--primary-font);
}
.nav-items a{
    text-decoration: none;
    margin-left: 1em;
    color: var(--text-color);
    font-weight: 500;
    font-size: 1.15rem;
}
/* header hero */
.header-hero {
    width: 100%;
    background: var(--gradient-color);
    margin-top: 2em;
    border-radius: 1.5em;
    font-family: var(--primary-font);
    position: relative;
    overflow: hidden;
}
.hero-title {
    width: 35%;
    padding: 6em 5em;
}
.hero-title h1 {
    font-size: 3em;
    font-weight: 700;
    line-height: 1.15em;
    color: var(--text-white-color);
    margin-bottom: 1em;
}
.hero-title h1 span {
    color: var(--secondary-color);
}
.hero--title-hashtag {
    font-size: 1.25em;
    margin-bottom: 2em;
    color: var(--text-white-color);
    opacity: 0.6;
}
.hero--title-btn {
    text-decoration: none;
    background-color: rgba(196,196,196, 0.3);
    color: var(--text-white-color);
    padding: 0.95em 3.75em;
    border-radius: 0.5em;
    transition: 0.2s;
}
.hero--title-btn:hover {
    background-color: rgba(196,196,196, 0.6);
}
.hero-img {
    position: absolute;
    right: -140px;
    top: -25px;
}

/* about */
.about {
    margin-top: 6em;
    font-family: var(--primary-font);
}
.about-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 3em;
}
.about--cards-card {
    padding: 2em;
    border-radius: 1em;
}
.cards-card--blue {
    background: var(--gradient-color);
    color: var(--text-white-color);
}
.cards--card-title {
    margin-top: 0.75em;
}
.card-title-blue h3 {
    font-size: 1.35em;
}
.card-title-blue p {
    font-family: var(--secondary-font);
    margin-top: 0.25em;
    opacity: 0.7;
    line-height: 1.25em;
    font-size: 1.15em;
}
.cards--card-title  h3 {
    font-size: 1.35em;
}
.cards--card-title p {
    font-family: var(--secondary-font);
    margin-top: 0.25em;
    opacity: 0.7;
    line-height: 1.25em;
    font-size: 1.15em;
}

/* services */
.services {
    margin-top: 6em;
    font-family: var(--primary-font);
}
.services h2 {
    text-align: center;
    font-size: 2em;
}
.services-content {
    margin-top: 4em;
    display: flex;
    justify-content: space-between;
}
.content-service {
    width: 40%;
}
.content-service--1, .content-service--2 {
    display: flex;
}
.content-service--2 {
    margin-top: 2em;
}
.content--icon {
    margin-right: 2em;
}
.content--title-service {
    margin-top: 0.75em;
}
.content--title-service  h3 {
    font-size: 1.35em;
}
.content--title-service p {
    font-family: var(--secondary-font);
    margin-top: 0.25em;
    opacity: 0.7;
    line-height: 1.25em;
    font-size: 1.15em;
}
.content-menu-service {
    width: 80%;
    margin-top: 3em;
    display: flex;
    justify-content: space-between;
}
.services--img-content {
    width: 55%;
    min-height: 300px;
    background: url('../assets/svg/service.svg');
    background-size: cover;
    border-radius: 1.5em;
}

/* contact */
.contact {
    margin-top: 10em;
    margin-bottom: 8em;
    font-family: var(--primary-font);
}
.contact h2 {
    text-align: center;
    font-size: 2em;
}
.contact-content {
    display: flex;
    margin-top: 4em;
}
.contact-img {
    width: 50%;
    min-height: 200px;
    background: url('../assets/svg/contact-2.svg');
    background-size: cover;
    background-position: left;
    margin-right: 4em;
}
.contact-info h5 {
    margin-bottom: 16px;
    margin-top: 0.5;
    opacity: 0.4;
    font-size: 1.15em;
}
.contact--info-number {
    display: flex;
    flex-direction: column;
}
.contact--info-number strong {
    font-size: 1.35em
}
.contact--info-number a {
    text-decoration: none;
    background: var(--gradient-color);
    color: var(--text-white-color);
    padding: 0.5em 2.5em;
    border-radius: 0.25em;
    transition: 0.2s;
    margin-top: 1em;
}
.contact-blank-bg {
    width: 400px;
    min-height: 200px;
    background-color: #E5E5E5;
    border-radius: 1em;
    opacity: 0.2;
    position: relative;
    right: -120px;
}

/* quotes */
.quotes {
    text-align: center;
    font-family: var(--primary-font);
    padding: 6em 0;
}
.quotes h2 {
    font-size: 3em;
}

/* footer */
.footer {
    border-radius: 1.5em;
    background: var(--gradient-color);
    padding: 2em 4em;
    font-family: var(--primary-font);
    color: var(--text-white-color);
    text-align: center;
}
.footer img {
    margin-bottom: 0.5em;
}
.footer-menu-link a {
    text-decoration: none;
    padding-left: 1em;
    color: var(--text-white-color);
    font-family: var(--secondary-font);
    opacity: 0.6;
}
/* end main */