:root {
    --primary-color: #314259;
    --secondary-color: #fa6d42;
    --primary-text-color: #2B88D9;
    --default-color: #f8f9fa;
}
/* css reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
html {
    font-size: 16px;
    scroll-behavior: smooth;
}
body {
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
    background-color: var(--primary-color);
}
hr {
    opacity: 0.5;
    margin-bottom: 1.25em;
}
/* header */
header {
    /* width: 100%; */
    display: flex;
    height: 100vh;
}
.header-img {
    position: relative;
    left: 0;
}
.header-container {
    padding: 2em 4em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.header-title {
    width: 90%;
    margin-bottom: 4em;
}
.header-title h1 {
    font-size: 2.75em;
    line-height: 1.15em;
    font-weight: 600;
    color: var(--primary-text-color);
}
.header-title p {
    color: var(--primary-text-color);
    opacity: 0.6;
    margin-top: 1.75em;
}

/* portfolio */
.portfolio {
    /* width: 100%; */
    background-color: rgba(196, 196, 196, 3%);
    min-height: 100vh;
    padding: 7em 4em;
}
.portfolio-menu {
    width: auto;
    margin: 0 auto;
    text-align: center;
}
.portfolio-menus {
    color: rgba(248, 249, 250, 0.5);
    text-decoration: none;
    font-weight: 600;
    transition: ease 0.1s;
    padding: 0 10px;
}
.portfolio-menus.active {
    color: var(--secondary-color);
}
.portfolio-menus:hover {
    color: var(--secondary-color);
    opacity: 0.8;
}
.portfolios-portfolio {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 4em 2em;
    margin-top: 4em;
}
.col-portfolio {
    position: relative;
    transition: ease 0.4s;
    /* border-radius: 0.5em; */
    overflow: hidden;
    animation: fade-in 0.5s;
}
@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.col-portfolio.empty {
    display: none;
}
.col-portfolio:hover:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(27, 41, 58,0.1), rgba(27, 41, 58, 1));
    cursor: pointer;
}

.col-portfolio img {
    width: 100%;
    height: 100%;
}
.title-col-portfolio {
    position: absolute;
    bottom: 30px;
    left: 30px;
    transition: ease 0.2s;
    /* visibility: hidden; */
    opacity: 0;
    transform: translateY(20px);
}
.col-portfolio:hover .title-col-portfolio {
    /* visibility: visible; */
    opacity: 1;
    transform: translateY(0px);
}
.title-col-portfolio h4 {
    font-size: 1.25em;
    color: var(--default-color);
    font-weight: 600;
}
.title-col-portfolio p {
    color: var(--default-color);
    opacity: 0.6;
}
.title-col-portfolio p a {
    text-decoration: none;
    /* color: #5ca3e0; */
    color: var(--secondary-color);
}

/* modal */
#bg-modal {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.6);
    /* padding: 6em 0; */
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: ease 0.2s;
    color: var(--primary-color)
}
#bg-modal.active {
    visibility: visible;
    opacity: 1;
}
.modal {
    width: 60%;
    min-height: 0%;
    padding: 3em 6em;
    background-color: var(--default-color);
    transition: 0.1s;
    position: relative;
}
.modal.active {
    min-height: auto;
}
.modal-close {
    position: absolute;
    right: -1em;
    top: -1em;
    background-color: var(--primary-text-color);
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.modal-close svg {
    width: 1.75em;
    height: 1.75em;
    color: var(--primary-color);
}
.modal-close:hover {
    background-color: #2472b6;
}
.modal-content {
    display: flex;
}
.modal-content img {
    width: 60%;
    margin-right: 2em;
}
.modal-info h3 {
    font-size: 1.5em;
    font-weight: 600;
}
.modal-info p a {
    text-decoration: none;
    color: var(--secondary-color);
}
.modal-action {
    margin-top: 2em;
}
.modal-action hr {
    margin-bottom: 1.25em;
}
.modal-action a {
    background-color: var(--primary-text-color);
    color: var(--default-color);
    padding: 0.65em 2em;
    text-decoration: none;
}


/* footer */
.footer {
    /* width: 100%; */
    /* border-radius: 1.5em; */
    background-color: #29384b;
    padding: 2em 4em;
    font-family: var(--primary-font);
    color: var(--default-color);
    text-align: center;
}
.footer img {
    margin-bottom: 0.5em;
}

/* responsive breakpoint */
@media (max-width: 850px) {
    body {
        overflow-x: hidden;
    }
    /* header */
    header {
        flex-direction: column;
        height: auto;
    }
    .portfolio-menu {
        width: 50%;
    }
    .header-img {
        display: none;
    }
    .header-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .header-title {
        width: 100%;
        text-align: center;
        margin-top: 3em;
    }
    .portfolio {
        padding: 7em 2em;
    }
    .portfolio-title {
        width: 80%;
        font-size: 2em;
        font-weight: 700;
    }
    
}
/* responsive breakpoint */
@media (max-width: 780px) {
    .modal {
        width: 80%;
        min-height: 0%;
        padding: 3em 2em;
        background-color: var(--default-color);
        transition: 0.1s;
        position: relative;
    }
    .portfolio-menu {
        width: 60%;
    }
}
/* responsive breakpoint */
@media (max-width: 586px) {
    /* header */
    .header-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .header-title {
        width: 100%;
        text-align: center;
        margin-top: 3em;
    }
    .portfolio {
        padding: 7em 1em;
    }
    .portfolio-menu {
        width: 70%;
    }
    .portfolio-title {
        width: 95%;
        font-size: 2em;
        font-weight: 700;
    }
    .modal {
        width: 80%;
        padding: 3em 2em;
    }
    .modal-content {
        flex-direction: column;
    }
    .modal-content img {
        width: 100%;
        margin-right: 2em;
    }
    .modal-info {
        margin-top: 1.5em;
    }
}